<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713531786990-9akf6v2eqdqkhjpfnpr3k941ihuuis49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713531786990-9akf6v2eqdqkhjpfnpr3k941ihuuis49</string>
	<key>API_KEY</key>
	<string>AIzaSyDv4RVbDVhjMfn-90Rf1Vs_QPOF2MOypYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>713531786990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.michaela.Blink</string>
	<key>PROJECT_ID</key>
	<string>blink-12ea7</string>
	<key>STORAGE_BUCKET</key>
	<string>blink-12ea7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713531786990:ios:9053636f53b56e010655ff</string>
</dict>
</plist>